* {
    margin: 0;
    padding: 0;
}

.checkers-title {
    text-align: center;
    margin-top: 100px;
    font-family: 'Old Standard TT';
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 4px;
}

.checkers-table {
    border: black 2px solid;
    margin: 10rem auto;
    height: 70vh;
    width: 70vh;
    background-image: url('images/Checkerboard.jpg');
    background-size: cover;
    padding: 0;
}

.modal {
    position: fixed;
    top: 50px;
    left: 100px;
    background-color: brown;
    width: 1000px;
    height: 1000px;
    border-radius: 50px;
    border: solid 2px black;
    display: none;
}