html, body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

body {
    background-color: #4ABDFF;
    font-family: 'Press Start 2P';
}

h1 {
    text-align: center;
    font-size: 100px;
}

h2 {
    text-align: center;
    font-size: 50px;
}

#letter-container {
    display: flex;
    flex-wrap: wrap;
}

.letter-box {
    background-color: #FFC803;
    max-width: 100px;
    height: 100px;
    margin: 10px;
    border: solid black 4px;
    text-align: center;
    font-size: 50px;
    color: white;
    /* Adjust Positioning */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex-basis: 10%;
}

.letter-box:hover {
    background-color: #FDAD16;
    cursor: pointer;
}

.correct-letters-con {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 100px 300px;
}

.correct-letter {
    border-bottom: solid white 5px;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: flex-end; /* Align text to the bottom */
    font-size: 50px;
    color: black;
}

.lives-container {
    display: flex;
    justify-content: space-around;
    padding: 0 300px;
}

.lives {
    width: 150px;
}

.closed-box {
    background-image: url('images/brick.jpg');
    background-size: cover;
    border: solid 4px #663300;
}